<?xml version="1.0"?>
<launch>

	<!-- Vehicle pose -->
	<arg default="0" name="x" />
	<arg default="0" name="y" />
	<arg default="1.075" name="z" />
	<arg default="0.0" name="roll" />
	<arg default="0.0" name="pitch" />
	<arg default="0.0" name="yaw" />

	<!-- Gazebo World Library-->
	<include file="$(find gazebo_models_worlds_collection)/launch/template.launch"></include>

	<!-- Configuration File (Parameters Model) -->
    <arg name="params" default="$(find sim_vehicle)/conf/params_drone.yaml"/>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
	command="$(find xacro)/xacro --inorder '$(find sim_vehicle)/urdf/vehicle.urdf.xacro'
											params:='$(arg params)'"/>

	<!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
	<node args="-urdf -model vehicle -param robot_description 
    -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" name="urdf_spawner" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model" />

</launch>