<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- CONFIGURATION FILE (YAML) -->
    <xacro:property name="params" value="${load_yaml('$(arg params)')}"/>


    <!-- ***************** -->
    <!--  VEHICLE PHYSICS  -->
    <!-- ***************** -->

    <!-- BASE LINK -->
    <link name="base_link">

        <inertial>
            <mass value="${params['mass']}" />
            <origin xyz="0 0 0" />
            <inertia ixx="${params['inertial']['xx']}" ixy="${params['inertial']['xy']}" ixz="${params['inertial']['xz']}"
                     iyy="${params['inertial']['yy']}" iyz="${params['inertial']['yz']}"
                     izz="${params['inertial']['zz']}"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 1.57" />
            <geometry>
                <mesh filename="package://sim_vehicle/meshes/drone.dae" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.075"/>
            </geometry>
        </collision>

    </link>

    <!-- PHYSICS PLUGIN -->
    <gazebo>
        <plugin filename="libmodel2gazebo.so" name="model2gazebo">
            <node_name>model2gazebo</node_name>
            <rate>100</rate>
            <yaml_config>$(arg params)</yaml_config>
        </plugin>
    </gazebo>

    <!-- *************** -->
    <!--  MAIN SENSORS   -->
    <!-- *************** -->

    <xacro:include filename="$(find sim_vehicle)/sensors/sensors.urdf.xacro"/>

</robot>